# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
dist-ssr/
*.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.all
